.add-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_cointainer {
    flex-direction: row;
    min-width: 480px;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.adduser_label {
    text-align: start;
    font-weight: 700;
    font-size: 1rem;
    color: #313131;
}

.adduser_label {
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 10px 15px;
    color: #000;
}

.adduser_label:hover {
    border-color: #ccc;
}

.adduser_label:focus {
    border-color: #9900ff;
}

.save-button {
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
}

.cancel-button {
    outline: none;
    border: none;
    background-color: #ff5555;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
}